@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  display: flex;
  background-color: hsl(0, 100%, 74%);
  height: 100svh;
  font-family: 'Poppins', sans-serif;
  justify-content: center;
  align-items: center;
}

.banner{
  background-color: hsl(248, 32%, 49%);
}

.shadow-div{
  box-shadow: 0px 8px 0px hsl(0, 66%, 64%);
  
}

.form-button{
  box-shadow:inset  0px 0px 3px  hsl(120, 40%, 28%);
}


@media screen and (min-width:768px) {
  body{
    background-image: url("/images/bg-intro-desktop.png");
  }
}

@media screen and (max-width:768px) {
  body{
    background-image: url("/images/bg-intro-mobile.png");
  }
}